.container {
  margin: 0 auto;
}

.leading,
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.5rem 1rem;
  text-align: center;
}

.leadingTitle {
  font-size: 2.75rem;
}
.leadingCaption {
  font-size: 14px;
  padding: 1rem 0 1.5rem;
}
.leadingImage {
  padding: 0 0.5rem;
}

.sectionTitle {
  margin-bottom: 2rem;
  font-size: 2.25rem;
}
.sectionCaption {
  margin-bottom: 1.5rem;
}

.about {
  background-color: #f5f5fa;
}
